@import "./base.css";


#app {
  font-weight: normal;
}
.layout {
  height: 100vh;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}



.main {
  grid-area: main;
}


.flex-container {
  display: flex; /* or inline-flex */
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-items:nth-child(1) {
  margin-left: 5%;
  display: block;
}

.flex-items:nth-child(2) {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
}



.footer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.users_chart_container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 60%;
  min-width: 50%;

}
.not_found_msg{
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.user_container {
  display: flex; 
  flex-direction: column;
  align-items: center;  
  margin-top: 10%;
}

