@import "./base.css";

#app {
  font-weight: normal;
}
.layout {
  height: 100vh;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header {
  grid-area: header;
  background: var(--github-userboard-primary);
  color: white;
  height: 80px;

  padding: 1%;
  
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background: var(--github-userboard-primary);
  height: 120px;
  padding: 3%;
}

.flex-container {
  display: flex; /* or inline-flex */
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-items:nth-child(1) {
  margin-left: 5%;
  display: block;
}

.flex-items:nth-child(2) {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
}

.header_text {
  margin-left: 2%;
  font-weight: bold;
  display: block;
}

.footer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;

}
.users_chart_container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 60%;
  min-width: 50%;

}
.not_found_msg{
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.user_container {
  display: flex; 
  flex-direction: column;
  align-items: center;  
  margin-top: 10%;
}


table.paleBlueRows {
  border: 1px solid #FFFFFF;
  width: 350px;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  margin-top: 2em;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}
table.paleBlueRows thead {
  background:  var(--github-userboard-primary);
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}